//Colors
$darkblue: #011f44;
$accentblue: #36c0f4;
$nav_title: #43d7fa;
$gold: #ffc542;
$white: #fff;
$grey: #b5b5c3cc;
$p_color: #5b5e60;
$lesson_color: #3f4254;
$related__lesson__bg: #f3f6f9;
$category_card: #f5f8fa;
$category_card_color: #5e6278;
$footer_bg: #13263c;
$selectedHeader: #ffa800;
//gradient colors
$gradient_gold: #ffc542;
$gradient_light_gold: #ffecbf;
$lesson_p_color: #7e8299;
$see_all: #3f4254;

//headers
$header_size: 52px;
$font_medium: 40px;
$font_small: 29px;
$font_list: 15px;
$header_md: 35px;
$header_p: 15px;

$header_s: 30px;
$header_xs: 24px;
$header_weight: 700;
//normal text
$p_size: 16px;
$p_small: 14px;
$p_xs: 12px;

//lesson text
$header_xs: 25px;
$lesson_header_size: 25px;
$newsletter_header_size: 25px;

$lesson_title_size: 18px;
$realted__lesson_title_size: 20px;

//Footer text
$footer_text: 11px;
$footer_header: 15px;
$footer_text_md: 15px;
