@import "../../variables.scss";

.wheretolearn__container {
  display: flex;
  width: 100%;
  // margin: 0 auto;
  // justify-content: space-around;
  justify-content: center;
  .col1 {
    display: flex;
    width: 50%;
    flex-direction: column;
    padding: 40px;
    overflow: hidden;
    // background-image: url("../../assets/images/wheretotlearn.png");
    // background-size: 110% 70%;
    // background-repeat: no-repeat;
    // background-position: bottom;
    // // background-position-x: left;
    height: auto;
    img {
      width: 100%;
      // object-fit: ;
    }
    height: auto;

    // height: 1100px;
    // background-position-y: 270px;

    h1 {
      color: $darkblue;

      margin-top: 0;
      font-size: $header_size;
      font-weight: 700;
    }
    p {
      width: 550px;
      color: $lesson_color;
      font-size: $header_p;
      font-weight: 600;
      font-family: "Open Sans", sans-serif !important;
      line-height: 22px;
    }
  }
  .col2 {
    display: flex;
    width: calc(50% - 50px);
    flex-direction: column;
    padding: 20px;
    button {
      display: flex;
      align-items: center;
      width: 180px;
      height: 50px;
      padding: 20px;
      justify-content: space-between;
      margin-top: 20px;
      background: linear-gradient(97.95deg, #ffa800 -22.37%, #ffd074 100%);
      box-shadow: 0px 30px 24px -20px rgba(35, 18, 117, 0.24);
      border-radius: 6px;
      border: none;
      outline: none;
      cursor: pointer;
      color: $white;
      font-weight: 500;
      font-size: $p_size;
    }
    .feature {
      display: flex;
      flex-direction: column;
      max-width: 520px;
      min-height: 252px;
      margin: 20px 0;
      img {
        width: 80px;
      }
      h1 {
        color: $lesson_color;
        font-size: 25px;
      }
      p {
        color: $p_color;
        margin: 0;
      }
    }
  }
}

@media screen and (min-width: 1500px) {
  .wheretolearn__container {
    max-width: 1500px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1500px) {
  .wheretolearn__container {
    display: flex;
    // width: 80%;
    .col1 {
      p {
        width: 400px;
      }
    }
  }
}
@media screen and (max-width: 1050px) {
  .wheretolearn__container {
    .col1 {
      h1 {
        font-size: 35px;
      }
      padding-right: 20px;
    }
  }
}
@media screen and (max-width: 450px) {
  .wheretolearn__container {
    .col1 {
      h1 {
        font-size: 25px !important;
        max-width: 280px !important;
      }
      img {
        width: 130% !important;
      }
      padding-right: 0;
    }
  }
}
// @media screen and (max-width: 1050px) {
//   .wheretolearn__container {
//     .col1 {
//       h1 {
//         font-size: 30px;
//         max-width: 340px;
//       }
//       p {
//         max-width: 90%;
//         margin: 0;
//       }
//     }
//   }
// }
@media screen and (max-width: 768px) {
  .wheretolearn__container {
    flex-direction: column;
    width: 95%;
    .col1,
    .col2 {
      width: calc(100% - 40px);
      padding: 20px;
    }
    .col1 {
      // height: 500px;
      // min-width: 350px;
      // width: 350px;
      // display: none;
      h1 {
        font-size: 35px;
        max-width: 380px;
        font-weight: 700;
        text-transform: capitalize;
        // text-align: center;
        line-height: 100%;
      }
      p {
        width: auto;
        max-width: 500px;
        // text-align: center;
        margin: 0;
      }
      // line-height: 0%;
      padding: 20px;
      padding-bottom: 0;
      img {
        width: 100%;
        object-fit: contain;
        margin-left: -30px;
      }
    }
  }
}
// @media screen and (max-width: 600px) {
//   .wheretolearn__container {
//     .col2 {
//       padding-left: 20px;
//       .feature {
//         max-width: 500px;
//         width: auto;
//       }
//     }
//   }
// }
// @media screen and (max-width: 400px) {
//   .wheretolearn__container {
//     .col1 {
//       background-size: 400px 340px !important;
//       width: auto !important;
//     }
//   }
// }
