@import "../../variables.scss";
.password__changed {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  height: 100vh;
  .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 100px;
    width: 620px;
    align-items: center;
    h1 {
      font-size: $header_s;
    }
    p {
      color: #b5b5c3;
      font-weight: 500;
      font-size: $p_lg;
    }
  }
  .img {
    height: 100%;
    display: flex;
    align-items: flex-end;
  }
}

@media screen and (max-width: 1050px) {
  .password__changed {
    .container {
      width: 80%;
    }
    .img {
      img {
        width: 80%;
        margin: 0 auto;
        height: 300px;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .password__changed {
    .container {
      h1 {
        font-size: 24px;
      }
      p {
        font-size: 14px;
      }
    }
    .img {
      img {
        width: 80%;
        margin: 0 auto;
        height: 300px;
      }
    }
  }
}
@media screen and (max-width: 475px) {
  .password__changed {
    .img {
      img {
        width: 100%;
        margin: 0 auto;
        //   height: 300px;
      }
    }
  }
}
