.category_card{
    width: 120px;
    height: 60px;
    background-color: #dfdfdf;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    margin: 5px;
    cursor: pointer;
}