@import "../../variables.scss";
.lesson__container {
  display: flex;
  flex-direction: column;
  width: 260px;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 0px 4.53648px rgba(35, 18, 117, 0.12),
    0px 25.7067px 30.2432px -15.1216px rgba(35, 18, 117, 0.18);
  background-color: $white;
  cursor: pointer;

  img {
    width: 260px;
    height: 160px;
    border-radius: 5px;
  }
  .lesson__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 10px;
    .lesson__title {
      color: $lesson_color;
      font-size: $lesson_title_size;
      display: flex;
      align-self: flex-start;
      font-weight: bold;
    }
    .lesson__rating {
      display: flex;
      flex-direction: column;
      color: $rating_color;
      font-weight: 500;

      span {
        font-size: 16px;
      }
      p {
        font-size: 13px;
        margin: 0;
      }
    }
  }
  .course__btn {
    padding: 10px;
    width: 100%;

    button {
      width: 100%;
      background: linear-gradient(92.75deg, #ffae42 -6.65%, #ffc842 100.01%);
      border-radius: 4.53648px;
      border: none;
      width: 257px;
      height: 53px;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
      cursor: pointer;
      transition: all ease-in-out 0.3s;
      font-weight: bold;
      font-size: 15px;
      font-family: "Open Sans", sans-serif !important;
      &:hover > svg {
        transition: all ease-in-out 0.3s;
        transform: translateX(10px);
      }
      svg {
        font-size: 30px;
        transition: all ease-in-out 0.3s;
      }
    }
  }
}
