@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

.learn__container {
  display: flex;
  color: #081f51;
  min-height: 100vh;
  width: 100%;
  max-width: 100vw;
  .learn__images__container {
    position: relative;

    .learn__images {
      position: absolute;
      &:first-child {
        width: 300px;
        height: 400px;
        // left: 300px;
        right: -500px;
      }
      &:nth-child(2) {
        width: 310px;
        height: 380px;
        // left: 60px;
        right: -280px;
        top: 180px;
        z-index: 2;
      }
      &:nth-child(3) {
        width: 480px;
        // left: 220px;
        right: -550px;
        top: 430px;
        z-index: 3;
      }
    }
  }
  .learn__about {
    max-width: 45vw;
    padding: 80px;

    .learn_img {
      width: 50px;
      height: 50px;
      object-fit: contain;
    }
    width: 50%;
    h3 {
      color: #0071dc;
      font-family: "Raleway", sans-serif;
      font-weight: 600;
      font-size: 18px;
      margin: 0;
    }
    h1 {
      color: #081f51;
      font-size: 45px;
      font-family: "Raleway", sans-serif;
    }
    p {
      font-family: "Raleway", sans-serif;
      color: rgv(0, 0, 0, 0.1);
    }
    .learn__features {
      .learn_feature {
        display: flex;
        gap: 10px;
        padding: 10px 0;
        .learn_text {
          width: 50%;
        }
      }
    }
    .learn__contact_btn {
      width: 130px;
      padding: 16px 30px;
      font-size: 18px;
      font-weight: 600;
      text-align: center;
      cursor: pointer;
      color: #fff;
      background-color: #11d4fb;
      transition: all ease 0.3s;

      &:hover {
        background-color: #081f51;
        transition: all ease 0.3s;
      }
    }
  }
}

@media screen and (max-width: 1340px) {
  .learn__images {
  }
}
