@import "../../variables.scss";
.related__lessons__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  .related__header {
    display: flex;
    justify-content: center;
    color: $darkblue;
    font-size: $lesson_header_size;
    text-align: center;
  }
  margin: 100px 20px;
  .related__lessons {
    display: grid;
    width: 80%;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-self: center;
    gap: 30px;
    .lesson {
      //   width: 350px;
      //   height: 150px;
      padding: 10px 20px;
      border: solid rgba(0, 0, 0, 0.1) 2px;
      border-style: dashed;
      border-radius: 9px;
      background-color: $related__lesson__bg;
      .lesson__details {
        border-bottom: solid rgba(0, 0, 0, 0.1) 2px;
        border-bottom-style: dashed;
        display: flex;
        align-items: center;
        gap: 10px;
        color: $accentblue;
        font-size: $realted__lesson_title_size;
        font-weight: 500;
        padding: 10px 0;
      }
      p {
        color: $lesson_p_color;
      }
      .lesson__seeall {
        a {
          text-decoration: none;
          color: $see_all;
        }
      }
    }
  }
}

@media screen and (max-width: 975px) {
  .related__lessons__container {
    .related__header {
      h1 {
        font-size: $lesson_header_size;
      }
    }
    .related__lessons {
      width: 90%;

      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(1, 1fr);

      justify-content: center;
      align-self: center;
      gap: 30px;
    }
  }
}

@media screen and (min-width: 1500px) {
  .related__lessons__container {
    h1 {
      text-align: center;
    }
    .related__lessons {
      grid-template-columns: repeat(3, 400px);

      justify-content: center;
      align-self: center;
      gap: 30px;
    }
  }
}
