.Info_Container{
    display: flex;
    min-height: 200px;
    justify-content: space-between;
    a{
        color: #081f51;
        cursor: pointer;
    }
    .ContactInfo{
        display: flex;
        flex-direction: column;
        a{
            display: flex;
            align-items: center;
            .icons{
                margin-right: 30px;
            }
        }
    }
}
.Footer_Container{
    background-color: #F7F7F7;
    color: #081f51;
    display: flex;
    flex-direction: column;
    padding: 140px 10vw 0;
  
    
    h1{
        margin: 0px;
        margin-bottom: 20px;
    }
    a{
        text-decoration: none;
    }
}
.Footer_Copyright{
    padding-top: 100px;
    padding-bottom: 60px;
    align-self: center;
}
.Footer_Column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h1{
        height: 25px;
    }
}

.Footer_icons{
    margin-right: 20px;
    transform: scale(1.3);
    cursor: pointer;
}
a:hover{
    color: rgb(21, 151, 229);

}
.Footer_icons:hover{
    color: rgb(21, 151, 229);
    animation: grow;
    animation-duration: 1s;
    animation-direction: alternate;
}
.Logos_Container{
    display: flex;
    flex-direction: column;
    .title{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        h1{
            margin: 0;
        }
        .Footer_logo{
            height: 50px;
        }
    }
}
.Logos{
    display: flex;
    justify-content: flex-start;
  
}
@keyframes grow {
    0%{   color: white; transform: scale(1.5);}
    100%{   color: rgb(21, 151, 229); transform: scale(1.5);}
  }
// ----------------- Media Query ------------------- //


@media only screen and (max-width: 1280px) {
  
}
@media only screen and (max-width: 1039px) {
    .Info_Container{
        .ContactInfo{
            a{
                .icons{
                    margin-right: 10px;
                }
            }
        }
    }
    .Footer_Container{
        padding: 80px;
    }
    .Logos_Container{

        .title{
            .Footer_logo{
                height: 35px;
            }
        }
    }
   
    .Footer_Copyright{
        padding-top: 70px;
        padding-bottom: 0px;
        margin-bottom: 0;
    }
    .Footer_Column{
        h1{
            height: 0px;
        }
    }
  
}
@media only screen and (max-width: 821px) {
    .Footer_logo{
        height: 25px;
    }
   
    .Footer_Container{
        padding: 60px;
    }
    .Footer_icons{
       transform: scale(.8);
        margin-right: 5px;

    }
}
@media only screen and (max-width: 600px) {
    .Info_Container{
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
    
    }

    .Footer_Container{
        padding: 60px 20px;
    }
    .Logos_Container{
        .title{
            margin-bottom: 20px;
            a{
                font-size: inherit;
                margin-bottom: 0 !important;
            }
        }
    }
    .Footer_Column{
        margin-bottom: 30px;
        h1{
            margin: 40px 0;
        }
        a{
            margin: 5px 0;
        }
    }
  
}